
#tamaño{
padding-top: 3%;
padding-bottom: 3%;

}



/* TAMAÑO LETRA */
.grande {
    font-size: xx-large;
}

.pequeno {
    font-size: smaller;
}



.normal {
    font-size: medium;
}


/* COLORES */
.verde {
    color: green;
}


.rojo {

    color: red;
}


.negro {
    color: black;
}